<div class="mentions-index section">
  <% if @coin %>
    <div>
      <div class="header-primary"><%= "#{@coin.sym}: #{@coin.name}" %></div>
      <div class="table-wrap mentions" style="display: inline-block;">
        <div class="fx-table nobox">
          <div class="thead">
            <div class="tr">
              <div class="td fx-1 center">Created</div>
              <div class="td fx-1 center">Source</div>
              <div class="td fx-1 center">Sentiment (experimental)</div>
              <div class="td fx-2 center">Post</div>
              <div class="td fx-4 center">Comment</div>
            </div>
          </div>
          <% @mentions.each do |mention| %>
            <div class="tr fx-row">
              <div class="td fx-1 center"><%= mention.created_at %></div>
              <div class="td fx-1 center"><%= mention.source %></div>
              <% sentiment = mention.sentiment || 0 %>
              <div class="td fx-1 center score score-<%= "#{(sentiment*10).to_i}" %>"><%= sentiment.round(2) %></div>
              <div class="td fx-2"><%= link_to mention.post_title, "https://www.reddit.com#{mention.url}", target: "_blank" %></div>
              <div class="td fx-4"><div class="comment-wrap"><%= mention.comment %></div></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    Coin not found wat the heck
  <% end %>
</div>

