<script type="text/javascript">
  $(document).ready(function() {
    Coin.init();
  });
</script>

<div>
  <form action="/coins.json" class="add-coin">
    <div class="input-wrap">
      <div>SYM:</div>
      <input id="sym" type="text">
    </div>
    <div class="input-wrap">
      <div>NAME:</div>
      <input id="name" type="text">
    </div>
    <button type="submit">Add Coin</button>
  </form>
</div>

<div class="coins-index">
  <div class="table-wrap" style="display: inline-block;">
    1 Hour<br><br>
    <table>
      <tr>
        <th>sym</th>
        <th>count</th>
        <th>Price/USD</th>
        <th>% G/L</th>
      </tr>
      <% @one_hour_mentions.each do |coin| %>
        <tr>
          <td><%= link_to "#{coin.sym}", mentions_path(coin: coin.sym) %></td>
          <td><%= "#{coin.count}" %></td>
          <td class=<%= "price-#{coin.sym}" %>></td>
          <td class=<%= "hour-#{coin.sym}" %>></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="table-wrap" style="display: inline-block;">
    1 Day<br><br>
    <table>
      <tr>
        <th>sym</th>
        <th>count</th>
        <th>Price/USD</th>
        <th>% G/L</th>
      </tr>
      <% @one_day_mentions.each do |coin| %>
        <tr>
          <td><%= link_to "#{coin.sym}", mentions_path(coin: coin.sym) %></td>
          <td><%= "#{coin.count}" %></td>
          <td class=<%= "price-#{coin.sym}" %>></td>
          <td class=<%= "day-#{coin.sym}" %>></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="table-wrap" style="display: inline-block;">
    1 Week<br><br>
    <table>
      <tr>
        <th>sym</th>
        <th>count</th>
        <th>Price/USD</th>
        <th>% G/L</th>
      </tr>
      <% @seven_day_mentions.each do |coin| %>
        <tr>
          <td><%= link_to "#{coin.sym}", mentions_path(coin: coin.sym) %></td>
          <td><%= "#{coin.count}" %></td>
          <td class=<%= "price-#{coin.sym}" %>></td>
          <td class=<%= "week-#{coin.sym}" %>></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
